var RE = /([\w]+\.[\w]+)\/?$/i;

var DOMAINS = [
  {{- range .Domains }}
  "{{ . }}",
  {{- end }}
]

function FindProxyForURL (url, host) {
  var search_domain = host.match(RE)[1]
  for (var i = 0; i < DOMAINS.length; i++) {
    if (search_domain == DOMAINS[i]) {
      return '{{ .Scheme }} {{ .Address }}:{{ .Port }}; DIRECT';
    }
  }
  return 'DIRECT';
}
