var RE = /.*?\.?([\w]+\.[\w]+)$/i;

var DOMAINS = [
  {{- range .Domains }}
  "{{ . }}",
  {{- end }}
]

function FindProxyForURL (url, host) {
    var searchDomain = url.match(RE)[1];
    if (DOMAINS.includes(searchDomain)) {
      return '{{ .Scheme }} {{ .Address }}:{{ .Port }}; DIRECT';
    } else {
      return 'DIRECT';
    }
}
